

@font-face {
    font-family:"JTUSjIg1_i6t8kCHKm459Wlhyw" ;
    src: url(../font/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
}

@font-face {
    font-family: "SpoqaHanSansNeo-Bold";
    src: url(../font/SpoqaHanSansNeo-Bold.woff2) format('woff2');
}

@font-face {
    font-family: "SpoqaHanSansNeo-Medium";
    src: url(../font/SpoqaHanSansNeo-Medium.woff2) format('woff2');
}

@font-face {
    font-family: "SpoqaHanSansNeo-Regular";
    src: url(../font/SpoqaHanSansNeo-Regular.woff2) format('woff2');
}